<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Rinder is there for you</h5>
          <p>If you are a single and want to be able to feel the feeling of dating, but don't want to be responsible for things that aren't wearing, then the rinder is there for you.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Change your life with Rinder</h5>
          <p>the rinder can change your life from now on, we can bring you together with new friends who want to date you, all we can do, you only have to register the rinder first.</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/"> Rinder</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->